# Ignore virtual environments
venv/
venv_chatterbot/

# Ignore compiled files
*.pyd
*.dll
*.exe
*.so
__pycache__/
*.pyc
.DS_Store

# Ensure important files are included
!requirements.txt
!Procfile
!app.py
!chatbot/  # Replace with your actual project folder name
node_modules
